{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">

  <title>Sign Up</title>

  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">


  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
  <!-- ** Preloader Start ** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ** Preloader End ** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand logo-image" href="{% url 'index'%}"><img src="{% static 'images/LOGO.png'%}"
            alt="alternative" width="80" height="80"></a>
        <a class="navbar-brand logo-image" href="{% url 'index'%}"><img src="{% static 'images/yaz.png' %}"
            alt="alternative" width="200" height="80"></a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'index'%}">Home

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html"> Articles </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_article'%}">Write</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signin' %}">Sign In

              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'register'%}">Sign Up</a>
              <span class="sr-only">(current)</span>
            </li>
        
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="main-banner header-text">
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 login-section-wrapper">

            <div class="login-wrapper my-auto">
              <h1 class="login-title">Sign Up</h1>
              <form action="signin" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="firstname">First Name</label>
                  <input type="usrname" name="firstname" id="firstname" class="form-control"
                    placeholder="enter your first name">
                </div>
                <div class="form-group">
                  <label for="username">Last Name</label>
                  <input type="usrname" name="lastname" id="lastname" class="form-control"
                    placeholder="enter your last name">
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="usrname" name="username" id="username" class="form-control"
                    placeholder="enter your username">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com">
                </div>
                <div class="form-group mb-4">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control"
                    placeholder="enter your passsword">
                </div>
                <div class="form-group mb-4">
                  <label for="password2">Confirm Password</label>
                  <input type="password" name="password2" id="password2" class="form-control"
                    placeholder="confirm your passsword">
                </div>
                <input name="login" id="login" class="btn btn-block login-btn" type="Submit" value="Sign Up">
              </form>

            </div>
          </div>
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="{%static 'images/login.jpg' %}" alt="login image" class="login-img" style="width:100;height:100;color:#f48840;
          height: 100%;
          right: 0;
          padding-top: 6px;">
          </div>
        </div>
      </div>
    </main>
  </div>


  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Additional Scripts -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/owl.js' %}"></script>
  <script src="{% static 'assets/js/slick.js' %}"></script>
  <script src="{% static 'assets/js/isotope.js' %}"></script>
  <script src="{% static 'assets/js/accordions.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>

  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>
</body>

</html>